<section class="about">
  <article class="about-container">
    <img
      class="about-container__pic"
      src="https://i.ibb.co/NyfkcdX/barbara2.png"
    />
    <ul class="about-container__info">
      <h1 class="about-container__title">Algunos datos sobre mí</h1>
      <li>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque eum
        dicta asperiores nam harum consequuntur a ratione ipsum, unde, facere
        repellat ea beatae officiis eveniet necessitatibus in voluptas, nihil
        aperiam.
      </li>
      <li>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque eum
        dicta asperiores nam harum consequuntur a ratione ipsum, unde, facere
        repellat ea beatae officiis eveniet necessitatibus in voluptas, nihil
        aperiam.
      </li>
      <li>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque eum
        dicta asperiores nam harum consequuntur a ratione ipsum, unde, facere
        repellat ea beatae officiis eveniet necessitatibus in voluptas, nihil
        aperiam.
      </li>
    </ul>
  </article>
</section>
