<section class="about" id="about">
  <article class="about-container">
    <img
      class="about-container__pic"
      src="https://i.ibb.co/bR5T4jv/cv-modified.png"
    />
    <ul class="about-container__info">
      <h1 class="about-container__title">Sobre mí</h1>
      <li class="list-item">
        Estudié Audiovisuales y Dirección de cine y he trabajado
        fundamentalmente en marketing digital.
      </li>
      <li class="list-item">
        Me enganché a la programación gracias a YouTube, y mis ganas de
        reinventarme como desarrolladora me llevaron a realizar el bootcamp de
        Adalab.
      </li>
      <li class="list-item">
        Soy detallista, creativa, observadora y comunicativa.
      </li>
      <li class="list-item">
        Estoy deseando dar mis primeros pasos en el sector IT, por lo que
        continúo formándome y creando mis propios proyectos.
      </li>
    </ul>
  </article>
  <article class="about-container">
    <ul class="about-container__info">
      <h1 class="about-container__title">Mis herramientas</h1>
      <div class="tech-list">
        <li class="tech-item"><i class="fab fa-react"></i></li>
        <li class="tech-item"><i class="fab fa-js-square"></i></li>
        <li class="tech-item"><i class="fab fa-css3-alt"></i></li>
        <li class="tech-item"><i class="fab fa-sass"></i></li>
        <li class="tech-item"><i class="fab fa-html5"></i></li>
        <li class="tech-item"><i class="fab fa-node"></i></li>
        <li class="tech-item"><i class="fab fa-git"></i></li>
        <li class="tech-item"><i class="fab fa-github"></i></li>
        <li class="tech-item"><i class="fab fa-npm"></i></li>
      </div>
    </ul>
  </article>
</section>
