<section class="about" id="about">
  <img class="about__pic" src="https://i.ibb.co/f95Jmwb/P1010561.jpg" />
  <article class="about-container">
    <div class="about-container__info">
      <p class="list-item">
        Licenciada en Comunicación Audiovisual y Dirección de cine y con una
        amplia experiencia profesional en marketing digital.
      </p>
      <p class="list-item">
        Me enganché a la programación a comienzos de 2021 gracias a YouTube, y
        mis ganas de dedicarme a ello profesionalmente me llevaron a realizar el
        bootcamp de desarrollo Front End de Adalab.
      </p>
      <p class="list-item">
        Actualmente trabajo como Junior Software Engineer, lo que me está
        permitiendo aprender nuevas tecnologías más allá del front end.
      </p>
    </div>
  </article>

  <article class="about-container tools">
    <div class="about-container__info">
      <h1 class="about-container__title">Herramientas</h1>
      <ul class="tech-list">
        <li class="tech-item"><i class="fab fa-react"></i></li>
        <li class="tech-item"><i class="fab fa-js-square"></i></li>
        <li class="tech-item"><i class="fab fa-css3-alt"></i></li>
        <li class="tech-item"><i class="fab fa-sass"></i></li>
        <li class="tech-item"><i class="fab fa-html5"></i></li>
        <li class="tech-item"><i class="fab fa-node"></i></li>
        <li class="tech-item"><i class="fab fa-git"></i></li>
        <li class="tech-item"><i class="fab fa-github"></i></li>
        <li class="tech-item"><i class="fab fa-npm"></i></li>
      </ul>
    </div>
  </article>
</section>
