<footer class="footer">
  <small class="small">Bárbara Morán 2021 </small>
  <nav class="social">
    <a class="sm-link" target="_blank" href="https://github.com/BarbaraMoran"
      ><i class="fab fa-github"></i></a
    ><a class="sm-link" target="_blank" href="https://twitter.com/BarbsMoran"
      ><i class="fab fa-twitter"></i
    ></a>
    <a
      class="sm-link"
      target="_blank"
      href="https://linkedin.com/in/barbaramorandev"
      ><i class="fab fa-linkedin"></i
    ></a>
  </nav>
</footer>
