<header class="header">
  <div class="nav-container js-nav">
    <button class="nav-main-button"><i class="fas fa-bars"></i></button>
    <a class="nav-link hidden js-sectionBtn" href="#about"> Sobre mí</a>
    <a class="nav-link hidden js-sectionBtn" href="#about"> Sobre mí</a>
    <a class="nav-link hidden js-sectionBtn" href="#about"> Sobre mí</a>
  </div>
  <div class="header-container">
    <h3 class="header-hello">¡Hola! soy</h3>
    <h1 class="header-name">Bárbara Morán,</h1>
    <h2 class="header-role">Front End Developer</h2>
  </div>
</header>
