<header class="header">
  <nav class="nav-container js-nav">
    <button class="nav-main-button"><i class="fas fa-bars"></i></button>
    <ul class="links-list js-list hidden">
      <li class="link-container pink">
        <a class="nav-link hidden js-sectionBtn" href="#about">Sobre mí</a>
      </li>
      <li class="link-container yellow">
        <a class="nav-link hidden js-sectionBtn" href="#about">Proyectos</a>
      </li>
      <li class="link-container green">
        <a class="nav-link hidden js-sectionBtn" href="#about">¡Juega!</a>
      </li>
    </ul>
  </nav>
  <div class="header-container">
    <h3 class="header-hello">¡Hola! soy</h3>
    <h1 class="header-name">Bárbara Morán,</h1>
    <h2 class="header-role">Front End Developer</h2>
  </div>
</header>
