<section class="projects" id="projects">
  <div class="projects-container">
    <ul class="projects-container__list">
      <h1 class="projects-container__title">Proyectos</h1>
      <li class="list-item">Girls Invented Punk</li>
      <li class="list-item">Buscador de series</li>
      <li class="list-item">Buscador de personajes de Rick & Morty</li>
      <li class="list-item">Generador de tarjetas de visita</li>
      <li class="list-item">Template web "El Bosco"</li>
    </ul>
    <article class="projects-container__info">
      <h3>Girls invented Punk</h3>
      <p>
        Página web dedicada a las pioneras del Punk. Incluye juego de cartas de
        memoria con contador y ficha de cada artista. Realizada con React, JS,
        CSS, SASS, HTML5, npm, etc.
      </p>
      <a href="">Web</a>
      <a href="">GitHub</a>
    </article>
  </div>
</section>
