<section class="projects" id="projects">
  <div class="projects-container">
    <h1 class="projects-container__title">Proyectos</h1>
    <ul class="projects-container__list">
      <li class="list-item">
        <h4>Girls Invented Punk</h4>
        <article class="projects-container__info">
          <p>
            Página web dedicada a las pioneras del Punk. Incluye juego de cartas
            de memoria con contador y ficha de cada artista. Realizada con
            React, JS, CSS, SASS, HTML5, npm, etc.
          </p>
          <a href="">Web</a>
          <a href="">GitHub</a>
        </article>
      </li>
      <li class="list-item"><h4>Buscador de series</h4></li>
      <li class="list-item"><h4>Buscador de personajes de Rick & Morty</h4></li>
      <li class="list-item"><h4>Generador de tarjetas de visita</h4></li>
      <li class="list-item"><h4>Template web "El Bosco"</h4></li>
    </ul>
  </div>
</section>
