.about {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/yellowback.jpg);
    background-repeat: repeat;
    border-bottom: black solid 40px;



    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(187, 206, 240);
        width: 240px;
        margin-top: 50px;
        border-left: solid black 5px;
        border-bottom: solid black 5px;
        font-size: 18px;
        line-height: 1.1em;
        border-radius: 22px;
        font-family: 'Josefin Sans', sans-serif;
        padding: 20px;

        @media all and(min-width: 400px) {
            width: 300px;
           }

        @media all and(min-width: 550px) {
            width: 400px;
          }

          @media all and(min-width: 750px) {
            margin-top: 100px;
            width: 600px;
            font-size: 25px;
            padding: 40px;
          }
        
          @media all and(min-width: 980px) {
            font-size: 30px;
           width: 800px;
          }

          @media all and(min-width: 1200px) {
            flex-direction: row;
            width: 1000px;
          }



        &__pic {
            width: 150px;
            border-radius: 50%;
           margin-bottom: 20px;
            

            @media all and(min-width: 400px) {
                width: 180px;
               }
    
            @media all and(min-width: 550px) {
                width: 200px;
              }
    
              @media all and(min-width: 980px) {
                width: 300px;
                margin-bottom: 40px;
              }

              @media all and(min-width: 1200px) {
                margin-right: 50px;
                margin-bottom: 0px;
              }
        }

        &__title {
            margin-bottom: 20px;
            text-align: center;
        }

        .list-item {
            margin-bottom: 15px;
            text-align: center;
        }

        .tech-list {
            font-size: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            @media all and(min-width: 980px) {
            font-size: 60px;
            }

            .tech-item {
              margin: 10px;

              @media all and(min-width: 980px) {
                margin: 20px
                }
            }

            
            
      }


    }
}