.header {
  background-image: url(../images/header2.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: black solid 40px;

  .nav-container {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  flex-direction: column;

   .nav-main-button {
    position: absolute;
    top: 0;
    right: 0;
     width: 40px;
     height: 40px;
     background-color: rgb(135, 185, 238);
     //box-shadow: 2px 2px 10px #666;
     cursor: pointer;
     border-left: solid black;
     border-bottom: solid black;
     border-top: none;
     border-right: none;


     @media all and(min-width: 400px) {
      width: 50px;
      height: 50px;
     }

     @media all and(min-width: 750px) {
      width: 60px;
      height: 60px;
    }
  

     .fa-bars {
       font-size: 20px;

       @media all and(min-width: 400px) {
        font-size: 30px;
       }
       @media all and(min-width: 750px) {
        font-size: 40px;
       }
     }
   }

   .nav-main-button:active {
    transform: scale(80%);
    }

  .nav-main-button:hover {
    cursor: pointer;
  }
   

   .links-list {
     display: flex;
     flex-direction: row;
     align-items: center;
     position: absolute;
     justify-content: center;
     top: 60px;
     right: -60px;
     width: 380px;
     font-size: 15px;
     font-family: 'Josefin Sans', sans-serif;

     @media all and(min-width: 370px) {
      position: relative;
      top: auto;
      right: auto;
      width: 400px;
     }

     
     @media all and(min-width: 750px) {
      width: 600px;
      font-size: 30px;
    }
    

   }

   .link-container {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-right: 10px;
     //box-shadow: 2px 2px 10px #666;
     border-left: solid black 4px;
     border-bottom: solid black 4px; 
     padding: 3px;
     font-weight: bold;
     padding: 10px;
     //border-radius: 22px;

     @media all and(min-width: 370px) {
     padding: 12px;
     }

     
     @media all and(min-width: 750px) {
    padding: 15px;
    //border-radius: 40px;


    }
     
     .nav-link {
       color: black;
   
     }

   }

   .link-container:hover {
    background-color: #fe4036;
   }

   
   .pink {
    background-color: #e295bb;
   }

   .yellow {
    background-color:#fff86b;
   }

   .green {
     background-color: #69cec8;
   }

   .hidden {
    display: none;
  }
  } 

  .header-container {
    width: 250px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fe4036;
    border-bottom: solid black 8px;
    border-left: solid black 8px;
    box-shadow: 1px 1px 5px rgb(173, 173, 173);

   @media all and(min-width: 400px) {
    width: 290px;
    height: 145px;
   }
  
    @media all and(min-width: 550px) {
      width: 450px;
      height: 200px;
      font-size: 20px;
    }
  
    @media all and(min-width: 750px) {
      width: 630px;
      height: 290px;
      font-size: 30px;
    }
  
    @media all and(min-width: 980px) {
      width: 800px;
      height: 350px;
      font-size: 35px;
    }

    .header-name {
      margin: 10px;
      text-transform: uppercase;
      font-style: italic;

      @media all and(min-width: 750px) {
       margin: 20px
      }
    
      @media all and(min-width: 980px) {
        margin: 30px;
      }

    }

  }



 
}
